.checkoutProduct{
  display:flex;
  margin: 20px 0;
}

.checkoutProduct_image{
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct_info{
  padding-left: 20px;
}

.checkoutProduct_title{
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct_rating{
  display: flex;
}

.checkoutProduct_info > button{
  background: #f0c14b;
  margin-top: 10px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
}