.payment{
    background:#fff;
}

.checkout_link{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #111;
    padding: 30px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.checkout_link:hover{
    transform: scale(1.1);
}

.payment-container > h1{
    text-align: center;
    background-color: rgb(234, 237, 237);
    padding: 10px;
    font-weight: 400;
}

.payment_section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid #8768bf;
}

.payment_title{
    flex: 0.2;
}

.payment_address,
.payment_items,
.payment_details{
    flex: 0.8;
}
